@model PreBookingViewModel


<section class="header1 section-prebooking hm-fullscreen" id="header1-3" style="position: relative; background-image: none; background-attachment: scroll; background-size: auto;">

    <div class="container" style="background-image: url('/images/home/book_background.jpeg'); background-size: 100% 100%; min-height: 34rem;">
        
        <h1 class="hm-section-title align-center hm-fonts-style hm-bold hm-white pb-2 pt-5 display-1 text-white">Summer is coming!</h1>
        
        <div class="row justify-content-center" style="z-index:1; padding-bottom: 120px;">
            
            <div class="col-lg-8 booking-datepicker pt-5" data-form-type="formoid" data-start="06/27/2023" data-end="06/28/2024">
                <form asp-action="Index" class="hm-form" method="post" data-form-title="My Form">
                    <div class="col-3 input-wrap check-in" data-for="check-in">
                        <input type="text" class="check-in-input" name="check-in" data-form-field="Check-In" readonly id="check-in-header1-3">
                        <p class="label hm-fonts-style align-center display-4">
                            CHECK-IN
                        </p>
                        <div class="date-row">
                            <span class="day display-2 hm-bold">27</span>
                            <div class="date-col">
                                <span class="month display-4">Jun</span>
                                <span class="hm-iconfont hmi-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 input-wrap check-out" data-for="check-out">
                        <input type="text" class="check-out-input" name="check-out" data-form-field="Check-Out" readonly id="check-out-header1-3">
                        <p class="label hm-fonts-style align-center display-4" id="datepicker">
                            CHECK-OUT
                        </p>
                        <div class="date-row">
                            <span class="day display-2 hm-bold">28</span>
                            <div class="date-col">
                                <span class="month display-4">Jun</span>
                                <span class="hm-iconfont hmi-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 input-wrap guests" data-for="guests">
                        <input type="number" class="guests-input" name="guests" data-form-field="Guests" readonly="" id="guests-header1-3">
                        <p class="label hm-fonts-style align-center display-4">
                            GUESTS
                        </p>
                        <div class="date-row">
                            <span class="guests-count display-2 hm-bold">1</span>
                            <div class="date-col">
                                <span class="hm-iconfont hmi-arrow-up"></span>
                                <span class="hm-iconfont hmi-arrow-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="hm-section-btn">
                        <span class="input-group-btn">
                            <button href="https://" type="submit" class="btn btn-form btn-secondary hm-lighter display-4">
                                <h5>FIND APARTMENTS</h5>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</section>
    

<section class="def-section features2 section-apartments" id="show-rooms">

    <div class="container">
        <h3 class="def-section-subtitle main-subtitle def-fonts-style def-lighter align-center display-4"></h3>

    
        <h2 class="def-section-title main-title def-fonts-style align-center pb-5 display-2">
            Our Apartments
        </h2>
        <div class="row justify-content-center">
            <div class="card first-card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/images/home/small_room.jpg" alt="image">
                    </div>
                    <div class="card-box">
                        <h2 class="first-card-title def-fonts-style display-5">
                            Small Room
                        </h2>
                        <div class="first-card-info pb-3">
                            <div class="info-wrapper">
                                <span class="def-iconfont defi-user"></span>
                                <p class="def-text info-text def-fonts-style def-lighter display-4">
                                    1 GUEST
                                </p>
                                <span class="def-iconfont defi-home"></span>
                                <p class="def-text info-text def-fonts-style def-lighter display-4">
                                    17 М<sup>2</sup>
                                </p>
                            </div>
                        </div>
                        <p class="def-text first-card-text def-fonts-style def-lighter display-7">
                            Small atmospheric room with comfortable bed...
                        </p>
                        <div class="def-section-btn card-btn">
                            <a href="" class="btn btn-md btn-secondary display-4 main-theme-color">
                                BOOK NOW FROM 20$
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media-container-column col-lg-6">
                <div class="row first-row">
                    <div class="card col-sm-12 col-md-6 first-child">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="~/images/home/budget_room.jpg" alt="image">
                            </div>
                            <div class="card-box caption def-white">
                                <p class="def-text card-title def-fonts-style def-lighter display-4">
                                    BUDGET ROOM
                                </p>
                                <p class="def-text price def-fonts-style def-lighter display-4">
                                    FROM 18$
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card col-sm-12 col-md-6">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="~/images/home/double_room.jpg" alt="image">
                            </div>
                            <div class="card-box caption def-white">
                                <p class="def-text card-title def-fonts-style def-lighter display-4">
                                    DOUBLE ROOM
                                </p>
                                <p class="def-text price def-fonts-style def-lighter display-4">
                                    FROM 30$
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="row second-row">
                    <div class="card col-sm-12 col-md-6 first-child">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="~/images/home/luxury_room.jpg" alt="image">
                            </div>
                            <div class="card-box caption def-white">
                                <p class="def-text card-title def-fonts-style def-lighter display-4">
                                    LUXURY ROOM
                                </p>
                                <p class="def-text price def-fonts-style def-lighter display-4">
                                    FROM 90$
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-sm-12 col-md-6">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="~/images/home/vip_room.jpg" alt="image">
                            </div>
                            <div class="card-box caption def-white">
                                <p class="def-text card-title def-fonts-style def-lighter display-4">
                                    VIP ROOM
                                </p>
                                <p class="def-text price def-fonts-style def-lighter display-4">
                                    FROM 120$
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-table1 home-section-services" id="pricing-table1-6" style="z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">

    <div class="def-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">

        <h2 class="def-section-title main-title def-fonts-style def-black align-center display-2 pb-5">
            Our Services
        </h2>
        
        <div class="row justify-content-center ms-1 me-1" style="min-height: 350px; margin-right: 10px;">

                <div style="position: absolute; background-image: url('/images/home/evening01.jpg'); background-size: 100% 100%; object-fit:cover; min-height: 40rem;"></div>

            <div class="col-md-9">
                <div class="row justify-content-center">
                    <div class="table col-md-10 col-lg-3 first-row-table mt-4">
                    <div class="table-wrapper card-service">
                        <div class="table-head-wrapper def-white">
                            <span class="table-heading def-section-title def-fonts-style def-bold display-7">
                                BUFFET
                            </span>
                            <div class="table-purchase">
                                <span class="pricing-value def-fonts-style display-5">
                                    $ 26.00
                                </span>
                                <h3 class="def-text table-pricing def-fonts-style def-lighter display-4">
                                    PER DAY
                                </h3>
                            </div>
                        </div>
                        <div class="mb-5"></div>
                        <div class="def-section-btn pt-4 align-center">
                            <a href="" class="btn btn-md btn-outline-secondary display-4 main-theme-color main-theme-text main-theme-hover">READ MORE</a></div>
                    </div>
                </div>
                <div class="table col-md-10 col-lg-3 first-row-table mt-4">
                    <div class="table-wrapper card-service">
                        <div class="table-head-wrapper def-white">
                            <span class="table-heading def-section-title def-fonts-style def-bold display-7">
                                PARKING
                            </span>
                            <div class="table-purchase">
                                <span class="pricing-value def-fonts-style display-5">
                                    $ 12.00
                                </span>
                                <h3 class="def-text table-pricing def-fonts-style def-lighter display-4">
                                    PER DAY
                                </h3>
                            </div>
                        </div>
                        <div class="mb-5"></div>
                        <div class="def-section-btn pt-4 align-center">
                            <a href="" class="btn btn-md btn-outline-secondary display-4 main-theme-color main-theme-text main-theme-hover">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="table col-md-10 col-lg-3 mt-4">
                    <div class="table-wrapper card-service">
                        <div class="table-head-wrapper def-white">
                            <span class="table-heading def-section-title def-fonts-style def-bold display-7">
                                RENT A BIKE
                            </span>
                            <div class="table-purchase">
                                <span class="pricing-value def-fonts-style display-5">
                                    $ 6.50
                                </span>
                                <h3 class="def-text table-pricing def-fonts-style def-lighter display-4">
                                    PER DAY
                                </h3>
                            </div>
                        </div>
                        <div class="mb-5"></div>
                        <div class="def-section-btn pt-4 align-center">
                            <a href="" class="btn btn-md btn-outline-secondary display-4 main-theme-color main-theme-text main-theme-hover">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="table col-md-10 col-lg-3 last-table mt-4">
                    <div class="table-wrapper card-service">
                        <div class="table-head-wrapper def-white">
                            <span class="table-heading def-section-title def-fonts-style def-bold display-7">
                                SPA
                            </span>
                            <div class="table-purchase">
                                <span class="pricing-value def-fonts-style display-5">
                                    $ 18.00
                                </span>
                                <h3 class="def-text table-pricing def-fonts-style def-lighter display-4">
                                    PER DAY
                                </h3>
                            </div>
                        </div>
                        <div class="mb-5"></div>
                        <div class="def-section-btn pt-4 align-center">
                            <a href="" class="btn btn-md btn-outline-secondary display-4 main-theme-color main-theme-text main-theme-hover">READ MORE</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
                

        </div>
    </div>
    
</section>

<section class="features13 popup-btn-cards home-section-features" id="features13-7">

    <div class="container">
        
        <h2 class="def-section-title main-title def-fonts-style align-center display-2">
            Our Features</h2>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 content-section col-lg-4 first-row-card">
                <div class="wrapper card-wrapper popup-btn">
                    <div class="def-overlay"></div>
                    <img src="~/images/home/bar.jpg" alt="">
                    <div class="content-block def-white">
                        <h2 class="def-section-title card-title def-fonts-style align-center def-lighter pb-3 display-5">
                            <a href="" class="text-white">Bar</a>
                        </h2>
                        <h3 class="def-section-subtitle card-subtitle def-fonts-style align-center display-4">
                            
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 content-section col-lg-4 first-row-card">
                <div class="wrapper card-wrapper popup-btn">
                    <div class="def-overlay"></div>
                    <img src="~/images/home/restaurant.jpg" alt="">
                    <div class="content-block def-white">
                        <h2 class="def-section-title card-title def-fonts-style align-center def-lighter pb-3 display-5">
                            <a href="" class="text-white">Restaurant</a>
                        </h2>
                        <h3 class="def-section-subtitle card-subtitle def-fonts-style align-center display-4">
                            
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 content-section col-lg-4">
                <div class="wrapper card-wrapper popup-btn">
                    <div class="def-overlay"></div>
                    <img src="~/images/home/spa.jpg" alt="">
                    <div class="content-block def-white">
                        <h2 class="def-section-title card-title def-fonts-style align-center def-lighter pb-3 display-5">
                            <a href="" class="text-white">SPA</a>
                        </h2>
                        <h3 class="def-section-subtitle card-subtitle def-fonts-style align-center display-4">
                            
                        </h3>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</section>

<section class="footer1 home-section-footer" id="footer1-b">
    
    <div class="container">
        <div class="row justify-content-center def-white">
            <div class="col-md-6 first-column col-lg-4">
                <h2 class="def-section-title def-fonts-style pb-2 display-5">
                    Support
                </h2>
                <p class="def-text def-fonts-style display-5">
                    + 00 00 000 000 00
                </p>
            </div>
            <div class="col-md-6 second-column col-lg-4">
                <h2 class="def-section-title def-fonts-style pb-2 display-5">
                    Follow Us
                </h2>
                <h3 class="def-section-subtitle def-fonts-style def-lighter display-4">
                    SOCIAL MEDIA CHANNELS
                </h3>
                <div class="icons-wrapper">
                    <ul>
                        <li>
                            <a class="icon-transition" href="">
                                <i class="fa-brands text-white fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="">
                                <i class="fa-brands text-white fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="">
                                <i class="fa-brands text-white fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="">
                                <i class="fa-brands text-white fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="">
                                <i class="fa-brands text-white fa-tiktok"></i>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-lg-4 third-column">
                <h2 class="def-section-title def-fonts-style pb-2 display-5">
                    Our Newsletter
                </h2>
                <h3 class="def-section-subtitle def-fonts-style def-lighter display-4">
                    SIGN UP FOR SPECIAL OFFERS
                </h3>
                <div class="form1" data-form-type="formoid">
                    <form class="def-form" action="" method="post" data-form-title="My Form"><input type="hidden" name="email" data-form-email="true" value="pyLrCqpRvr+IbGo/9u2U4RCUDIXgYL+raru4eRja3wFNq+ew3xjwD8cLJ6q+YMtcv/i5LmtI5ATOXk/jYeDhkE6uaDsqu2nQcPGaTxV3N6mk28MhpwzWaQDPuMDOPRRK" data-form-field="E-mail">
                        <div class="row">
                            <div data-for="email">
                            <input type="text" class="field display-7" name="email" data-form-field="E-mail" placeholder="E-mail" required="" id="email-footer1-b">
                                <span class="input-group-btn">
                                    <button href="" type="submit" class="btn btn-lg btn-secondary display-4 main-theme-color">SUBSCRIBE</button>
                                </span>
                            </div>
                        
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




  
  