   



<section class="features3 cid-qJ2W2aVLLb" id="features3-4">
    <input type="button" value="Create" onclick="location.href='@Url.Action("Create", "Home")'"/>
    @Html.ActionLink("DisplayText", "Action", "Home");
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="image-element col-xl-6">
                <div class="row justify-content-center">
                    <div style="position:absolute; z-index:0;">
                        <img class="image-bg-stretched" src="~/images/home/base_room.jpg" />
                    </div>
                </div>
            <div class="text-element col-xl-6">
                
                
                <h2 class="def-section-title def-fonts-style pb-4 def-white display-1">
                    Discover our<br>
                    <span class="brown">History</span>
                </h2>
                <div class="paragraphs-wrapper pb-4">
                    <p class="def-text def-fonts-style def-lighter first-paragraph display-7">
                        Plo
                    </p>
                    <p class="second-paragraph def-text def-fonts-style def-lighter display-7">
                        Plo
                    </p>
                </div>
                <div class="def-section-btn"><a class="btn btn-lg btn-secondary display-4" href="">ABOUT US</a></div>
            </div>
        </div>
    </div>          
</section>

<section class="def-section features2 cid-qJ2W84Rb3v" id="show-rooms">

    <div class="container">
        <h3 class="def-section-subtitle main-subtitle def-fonts-style def-lighter align-center display-4"></h3>

    
        <h2 class="def-section-title main-title def-fonts-style align-center pb-5 display-2">
            Our Apartments
        </h2>
        <div class="row justify-content-center">
            <div class="card first-card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/images/home/room04.jpg" alt="image">
                    </div>
                    <div class="card-box">
                        <h2 class="first-card-title def-fonts-style display-5">
                            Small Room
                        </h2>
                        <div class="first-card-info pb-3">
                            <div class="info-wrapper">
                                <span class="def-iconfont defi-user"></span>
                                <p class="def-text info-text def-fonts-style def-lighter display-4">
                                    1 GUEST
                                </p>
                                <span class="def-iconfont defi-home"></span>
                                <p class="def-text info-text def-fonts-style def-lighter display-4">
                                    17 М<sup>2</sup>
                                </p>
                            </div>
                        </div>
                        <p class="def-text first-card-text def-fonts-style def-lighter display-7">
                            Small atmospheric room with comfortable bed...
                        </p>
                        <div class="def-section-btn card-btn"><a href="#" class="btn btn-md btn-secondary display-4">
                                BOOK NOW FROM 20$
                            </a></div>
                    </div>
                </div>
            </div>

            <div class="media-container-column col-lg-6">
                <div class="row first-row">
                    <div class="card col-sm-12 col-md-6 first-child">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="~/images/home/room02.jpg" alt="image">
                            </div>
                            <div class="card-box caption def-white">
                                <p class="def-text card-title def-fonts-style def-lighter display-4">
                                    FAMILY ROOM
                                </p>
                                <p class="def-text price def-fonts-style def-lighter display-4">
                                    FROM 30$
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-sm-12 col-md-6">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="~/images/home/room01.jpg" alt="image">
                            </div>
                            <div class="card-box caption def-white">
                                <p class="def-text card-title def-fonts-style def-lighter display-4">
                                    DOUBLE ROOM
                                </p>
                                <p class="def-text price def-fonts-style def-lighter display-4">
                                    FROM 30$
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="row second-row">
                    <div class="card col-sm-12 col-md-6 first-child">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="~/images/home/room03.jpg" alt="image">
                            </div>
                            <div class="card-box caption def-white">
                                <p class="def-text card-title def-fonts-style def-lighter display-4">
                                    LUXURY ROOM
                                </p>
                                <p class="def-text price def-fonts-style def-lighter display-4">
                                    FROM 110$
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card col-sm-12 col-md-6">
                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="~/images/home/room05.jpg" alt="image">
                            </div>
                            <div class="card-box caption def-white">
                                <p class="def-text card-title def-fonts-style def-lighter display-4">
                                    APARTMENT
                                </p>
                                <p class="def-text price def-fonts-style def-lighter display-4">
                                    FROM 90$
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-table1 cid-qJ2Wd4uMjn def-parallax-background" id="pricing-table1-6" style="z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">

    <div class="def-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">

        <h2 class="def-section-title main-title def-fonts-style def-black align-center display-2 pb-5">
            Hotel Services
        </h2>
        
        <div class="row justify-content-center">
            <div style="position:absolute; z-index:0;">
                <img class="image-bg-stretched" src="~/images/home/evening01.jpg" style="height: 600px !important;" />
            </div>
            <div class="col-md-9">
                <div class="row justify-content-center">
                    <div class="table col-md-10 col-lg-3 first-row-table mt-4">
                    <div class="table-wrapper card-service">
                        <div class="table-head-wrapper def-white">
                            <span class="table-heading def-section-title def-fonts-style def-bold display-7">
                                BUFFET
                            </span>
                            <div class="table-purchase">
                                <span class="pricing-value def-fonts-style display-5">
                                    $ 26.00
                                </span>
                                <h3 class="def-text table-pricing def-fonts-style def-lighter display-4">
                                    PER DAY
                                </h3>
                            </div>
                        </div>
                        <ul class="list-group def-fonts-style def-lighter display-7">
                            <li>
                                <span class="items-text">
                                    
                                </span>
                            </li>
                        </ul>
                        <div class="def-section-btn pt-4 align-center"><a href="" class="btn btn-md btn-outline-secondary display-4">READ MORE</a></div>
                    </div>
                </div>
                <div class="table col-md-10 col-lg-3 first-row-table mt-4">
                    <div class="table-wrapper card-service">
                        <div class="table-head-wrapper def-white">
                            <span class="table-heading def-section-title def-fonts-style def-bold display-7">
                                PARKING
                            </span>
                            <div class="table-purchase">
                                <span class="pricing-value def-fonts-style display-5">
                                    $ 12.00
                                </span>
                                <h3 class="def-text table-pricing def-fonts-style def-lighter display-4">
                                    PER DAY
                                </h3>
                            </div>
                        </div>
                        <ul class="list-group def-fonts-style def-lighter display-7">
                            <li>
                                <span class="items-text">
                                    
                                </span>
                            </li>
                        </ul>
                        <div class="def-section-btn pt-4 align-center">
                            <a href="" class="btn btn-md btn-outline-secondary display-4">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="table col-md-10 col-lg-3 mt-4">
                    <div class="table-wrapper card-service">
                        <div class="table-head-wrapper def-white">
                            <span class="table-heading def-section-title def-fonts-style def-bold display-7">
                                RENT A BIKE
                            </span>
                            <div class="table-purchase">
                                <span class="pricing-value def-fonts-style display-5">
                                    $ 6.50
                                </span>
                                <h3 class="def-text table-pricing def-fonts-style def-lighter display-4">
                                    PER DAY
                                </h3>
                            </div>
                        </div>
                        <ul class="list-group def-fonts-style def-lighter display-7">
                            <li>
                                <span class="items-text">
                                    
                                </span>
                            </li>
                        </ul>
                        <div class="def-section-btn pt-4 align-center">
                            <a href="" class="btn btn-md btn-outline-secondary display-4">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="table col-md-10 col-lg-3 last-table mt-4">
                    <div class="table-wrapper card-service">
                        <div class="table-head-wrapper def-white">
                            <span class="table-heading def-section-title def-fonts-style def-bold display-7">
                                SPA
                            </span>
                            <div class="table-purchase">
                                <span class="pricing-value def-fonts-style display-5">
                                    $ 18.00
                                </span>
                                <h3 class="def-text table-pricing def-fonts-style def-lighter display-4">
                                    PER DAY
                                </h3>
                            </div>
                        </div>
                        <ul class="list-group def-fonts-style def-lighter display-7">
                            <li>
                                <span class="items-text">
                                    
                                </span>
                            </li>
                        </ul>
                        <div class="def-section-btn pt-4 align-center">
                            <a href="" class="btn btn-md btn-outline-secondary display-4">READ MORE</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
                

        </div>
    </div>
    
</section>

<section class="features13 popup-btn-cards cid-qJ2WemWElk" id="features13-7">

    <div class="container">
        
        <h2 class="def-section-title main-title def-fonts-style align-center display-2">
            Our features</h2>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 content-section col-lg-4 first-row-card">
                <div class="wrapper card-wrapper popup-btn">
                    <div class="def-overlay"></div>
                    <img src="~/images/home/feat01.jpg" alt="">
                    <div class="content-block def-white">
                        <h2 class="def-section-title card-title def-fonts-style align-center def-lighter pb-3 display-5">
                            <a href="" class="text-white">Bar</a>
                        </h2>
                        <h3 class="def-section-subtitle card-subtitle def-fonts-style align-center display-4">
                            
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 content-section col-lg-4 first-row-card">
                <div class="wrapper card-wrapper popup-btn">
                    <div class="def-overlay"></div>
                    <img src="~/images/home/feat02.jpg" alt="">
                    <div class="content-block def-white">
                        <h2 class="def-section-title card-title def-fonts-style align-center def-lighter pb-3 display-5">
                            <a href="" class="text-white">Restaurant</a>
                        </h2>
                        <h3 class="def-section-subtitle card-subtitle def-fonts-style align-center display-4">
                            
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 content-section col-lg-4">
                <div class="wrapper card-wrapper popup-btn">
                    <div class="def-overlay"></div>
                    <img src="~/images/home/feat03.jpg" alt="">
                    <div class="content-block def-white">
                        <h2 class="def-section-title card-title def-fonts-style align-center def-lighter pb-3 display-5">
                            <a href="" class="text-white">SPA</a>
                        </h2>
                        <h3 class="def-section-subtitle card-subtitle def-fonts-style align-center display-4">
                            
                        </h3>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</section>

<section class="footer1 cid-qJ2WtUFT1h" id="footer1-b">
    
    <div class="container">
        <div class="row justify-content-center def-white">
            <div class="col-md-6 first-column col-lg-4">
                <h2 class="def-section-title def-fonts-style pb-2 display-5">
                    Support
                </h2>
                <h3 class="def-section-subtitle def-fonts-style def-lighter display-4">
                    24 HOURS A DAY
                </h3>
                <p class="def-text def-fonts-style display-5">
                    + 00 000 000 00
                </p>
            </div>
            <div class="col-md-6 second-column col-lg-4">
                <h2 class="def-section-title def-fonts-style pb-2 display-5">
                    Follow Us
                </h2>
                <h3 class="def-section-subtitle def-fonts-style def-lighter display-4">
                    SOCIAL MEDIA CHANNELS
                </h3>
                <div class="icons-wrapper">
                    <ul>
                        <li>
                            <a class="icon-transition" href="">
                                <span class="def-iconfont socicon-facebook socicon"></span>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="">
                                <span class="def-iconfont socicon-twitter socicon"></span>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="">
                                <span class="def-iconfont socicon-youtube socicon"></span>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="">
                                <span class="def-iconfont socicon-instagram socicon"></span>
                            </a>
                        </li>
                        <li>
                            <a class="icon-transition" href="">
                                <span class="def-iconfont socicon-behance socicon"></span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-lg-4 third-column">
                <h2 class="def-section-title def-fonts-style pb-2 display-5">
                    Our Newsletter
                </h2>
                <h3 class="def-section-subtitle def-fonts-style def-lighter display-4">
                    SIGN UP FOR SPECIAL OFFERS
                </h3>
                <div class="form1" data-form-type="formoid">
                    <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                    </div>
                    <form class="def-form" action="" method="post" data-form-title="My Form"><input type="hidden" name="email" data-form-email="true" value="pyLrCqpRvr+IbGo/9u2U4RCUDIXgYL+raru4eRja3wFNq+ew3xjwD8cLJ6q+YMtcv/i5LmtI5ATOXk/jYeDhkE6uaDsqu2nQcPGaTxV3N6mk28MhpwzWaQDPuMDOPRRK" data-form-field="E-mail">
                        <div class="input-wrap" data-for="email">
                            <input type="text" class="field display-7" name="email" data-form-field="E-mail" placeholder="E-mail" required="" id="email-footer1-b">
                        </div>
                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-lg btn-primary display-4">SUBSCRIBE</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




  
  