.section-apartments {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #efefef;
}

    .section-apartments .card .card-img {
        overflow: hidden;
        border-radius: 0;
    }

        .section-apartments .card .card-img img {
            transition: all .3s;
        }

        .section-apartments .card .card-img:hover img {
            transform: scale3d(1.2, 1.2, 1.2);
        }

    .section-apartments .media-container-column {
        justify-content: flex-start;
        padding: 0;
    }

    .section-apartments .underline .line {
        width: 2rem;
        height: 1px;
        background: #878787;
        display: inline-block;
    }

    .section-apartments .first-card .card-wrapper {
        height: 100%;
    }

    .section-apartments .first-card .card-box {
        background: #ffffff;
        padding: 2rem;
    }

    .section-apartments .first-card .info-wrapper {
        display: inline-flex;
        align-items: center;
    }

        .section-apartments .first-card .info-wrapper .hm-iconfont {
            padding-right: .5rem;
            font-size: 20px;
        }

        .section-apartments .first-card .info-wrapper .info-text {
            display: inline-block;
            padding-right: 1rem;
            margin: 0;
        }

    .section-apartments .first-card .card-btn .btn {
        margin-left: 4px !important;
        margin-right: 4px !important;
    }

    .section-apartments .first-row,
    .section-apartments .second-row {
        height: 50%;
        margin: 0;
    }

        .section-apartments .first-row .card .card-wrapper,
        .section-apartments .second-row .card .card-wrapper {
            height: 100%;
            overflow: hidden;
            position: relative;
        }

            .section-apartments .first-row .card .card-wrapper .card-img,
            .section-apartments .second-row .card .card-wrapper .card-img {
                height: 100%;
            }

                .section-apartments .first-row .card .card-wrapper .card-img img,
                .section-apartments .second-row .card .card-wrapper .card-img img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }

        .section-apartments .first-row .caption,
        .section-apartments .second-row .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            letter-spacing: 2px;
        }

            .caption .price,
            .caption .price {
                background: #d28b55;
                padding: 0.3rem;
            }

    .section-apartments .first-row {
        padding-bottom: 1rem;
    }

    .section-apartments .second-row {
        padding-top: 1rem;
    }

@media (max-width: 767px) {
    .section-apartments .first-card,
    .section-apartments .first-child {
        padding-bottom: 2rem;
    }
}

@media (max-width: 991px) {
    .section-apartments .first-card {
        padding-bottom: 2rem;
    }

    .section-apartments .only-first-row {
        height: 100%;
    }
}

.home-section-services {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../../../assets/images/background5.jpg");
}

    .home-section-services .underline .line {
        width: 2rem;
        height: 1px;
        background: #ffffff;
        display: inline-block;
    }

    .home-section-services .table {
        margin-bottom: 0;
    }

        .home-section-services .table .table-wrapper {
            padding: 2rem;
            background: #ffffff;
            position: relative;
        }

            .home-section-services .table .table-wrapper .table-head-wrapper {
                background: #d28b55;
                margin: -2rem;
                margin-bottom: 0 !important;
                padding: 2rem;
                padding-bottom: 0 !important;
            }

                .home-section-services .table .table-wrapper .table-head-wrapper span {
                    width: 100%;
                    display: block;
                }

            .home-section-services .table .table-wrapper .table-purchase {
                padding-bottom: 2rem;
            }

                .home-section-services .table .table-wrapper .table-purchase .table-pricing {
                    margin: 0;
                    margin-top: .5rem !important;
                }

            .home-section-services .table .table-wrapper .list-group {
                list-style: none;
                padding-top: 2rem;
            }

                .home-section-services .table .table-wrapper .list-group li {
                    padding: .4rem;
                    border-bottom: 1px solid #efefef;
                }

                    .home-section-services .table .table-wrapper .list-group li .hm-iconfont {
                        font-size: 30px;
                    }




.hm-section-title {
    font-style: normal;
    line-height: 1.2;
}

.hm-section-subtitle {
    line-height: 1.3;
}

.hm-text {
    font-style: normal;
    line-height: 1.7;
}

.display-1 {
    font-family: 'Gilda Display', serif;
    font-size: 4.5rem;
}

    .display-1 > .hm-iconfont {
        font-size: 7.2rem;
    }

.display-2 {
    font-family: 'Gilda Display', serif;
    font-size: 3.5rem;
}

    .display-2 > .hm-iconfont {
        font-size: 5.6rem;
    }

.display-4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}

    .display-4 > .hm-iconfont {
        font-size: 1.2rem;
    }

.display-5 {
    font-family: 'Gilda Display', serif;
    font-size: 1.9rem;
}

    .display-5 > .hm-iconfont {
        font-size: 3.04rem;
    }

.display-7 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

    .display-7 > .hm-iconfont {
        font-size: 1.44rem;
    }


/*-------------------------------------*/


.section-prebooking {
    background-image: url("/images/home/hotel_head_1.jpg");
    z-index: 1;
}

    .section-prebooking .hm-arrow {
        background: #000000 !important;
        opacity: .7;
    }

        .section-prebooking .hm-arrow i {
            color: #ffffff !important;
        }

    .section-prebooking .underline .line {
        width: 2rem;
        height: 1px;
        background: #ffffff;
        display: inline-block;
    }

    .section-prebooking .input-wrap {
        background: #ffffff;
    }

    .section-prebooking .booking-datepicker .hm-form {
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }

        .section-prebooking .booking-datepicker .hm-form .input-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            overflow: hidden;
        }

            .section-prebooking .booking-datepicker .hm-form .input-wrap input {
                border: none;
                position: absolute;
                background: transparent;
                z-index: 2;
                height: 8rem;
                color: transparent;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
            }

                .section-prebooking .booking-datepicker .hm-form .input-wrap input.guests-input {
                    z-index: 0;
                }

                .section-prebooking .booking-datepicker .hm-form .input-wrap input::-webkit-input-placeholder {
                    color: transparent;
                }

                .section-prebooking .booking-datepicker .hm-form .input-wrap input::-moz-placeholder {
                    color: transparent;
                }

                .section-prebooking .booking-datepicker .hm-form .input-wrap input:-moz-placeholder {
                    color: transparent;
                }

                .section-prebooking .booking-datepicker .hm-form .input-wrap input:-ms-input-placeholder {
                    color: transparent;
                }

            .section-prebooking .booking-datepicker .hm-form .input-wrap .label {
                z-index: 1;
            }

            .section-prebooking .booking-datepicker .hm-form .input-wrap .date-row {
                display: inline-flex;
                color: #000000;
                z-index: 1;
            }

                .section-prebooking .booking-datepicker .hm-form .input-wrap .date-row .day,
                .section-prebooking .booking-datepicker .hm-form .input-wrap .date-row .guests-count {
                    margin-bottom: 0;
                    margin-right: 1rem;
                }

                .section-prebooking .booking-datepicker .hm-form .input-wrap .date-row .date-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                    .section-prebooking .booking-datepicker .hm-form .input-wrap .date-row .date-col span:first-child {
                        margin-bottom: 1rem;
                    }

        .section-prebooking .booking-datepicker .hm-form .hm-section-btn {
            width: 100%;
        }

@media (min-width: 768px) {
    .section-prebooking .booking-datepicker .hm-form .hm-section-btn {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.section-prebooking .booking-datepicker .hm-form .hm-section-btn .input-group-btn {
    height: 100%;
}

    .section-prebooking .booking-datepicker .hm-form .hm-section-btn .input-group-btn .btn {
        height: 100%;
        line-height: 18px;
        padding: 2rem;
        margin: 0;
    }

.section-prebooking .datepicker {
    background-color: #ffffff;
    color: #000000;
}

    .section-prebooking .datepicker .active.day {
        background-color: #2b6477 !important;
        color: #ffffff !important;
    }

    .section-prebooking .datepicker:after {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }

@media (min-width: 768px) {
    .section-prebooking .booking-datepicker input:not(.guests-input) {
        border-right: 1px solid #cccccc !important;
    }
}

@media (max-width: 767px) {
    .section-prebooking .booking-datepicker .hm-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .section-prebooking .booking-datepicker .hm-form .col-3,
        .section-prebooking .booking-datepicker .hm-form .hm-section-btn {
            max-width: 60% !important;
        }

            .section-prebooking .booking-datepicker .hm-form .hm-section-btn .input-group-btn .btn {
                margin: 0 !important;
            }
}


.home-section-services {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../../../assets/images/background5.jpg");
}

    .home-section-services .underline .line {
        width: 2rem;
        height: 1px;
        background: #ffffff;
        display: inline-block;
    }

    .home-section-services .table {
        margin-bottom: 0;
    }

        .home-section-services .table .table-wrapper {
            padding: 2rem;
            background: #ffffff;
            position: relative;
        }

            .home-section-services .table .table-wrapper .table-head-wrapper {
                background: #d28b55;
                margin: -2rem;
                margin-bottom: 0 !important;
                padding: 2rem;
                padding-bottom: 0 !important;
            }

                .home-section-services .table .table-wrapper .table-head-wrapper span {
                    width: 100%;
                    display: block;
                }

            .home-section-services .table .table-wrapper .table-purchase {
                padding-bottom: 2rem;
            }

                .home-section-services .table .table-wrapper .table-purchase .table-pricing {
                    margin: 0;
                    margin-top: .5rem !important;
                }

            .home-section-services .table .table-wrapper .list-group {
                list-style: none;
                padding-top: 2rem;
            }

                .home-section-services .table .table-wrapper .list-group li {
                    padding: .4rem;
                    border-bottom: 1px solid #efefef;
                }

                    .home-section-services .table .table-wrapper .list-group li .hm-iconfont {
                        font-size: 30px;
                    }

@media (max-width: 767px) {
    .home-section-services .table:not(.last-table) {
        margin-bottom: 1rem;
    }

    .home-section-services .table-heading {
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-section-services .table.first-row-table {
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .home-section-services .table {
        margin-bottom: 0;
    }
}

.home-section-features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #efefef;
}

    .home-section-features .wrapper {
        overflow: hidden;
    }

        .home-section-features .wrapper img {
            transition: all .5s;
        }

        .home-section-features .wrapper:hover img {
            transform: scale3d(1.2, 1.2, 1.2);
        }

    .home-section-features .underline .line {
        width: 2rem;
        height: 1px;
        background: #878787;
        display: inline-block;
    }

    .home-section-features .wrapper {
        position: relative;
        padding: 2rem;
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

        .home-section-features .wrapper .hm-overlay {
            background: #000000;
            opacity: 0.3;
            border-top-right-radius: 25%;
            z-index: 1;
        }

        .home-section-features .wrapper img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

        .home-section-features .wrapper .content-block {
            position: relative;
            width: 100%;
            z-index: 1;
        }

    .home-section-features .popup-btn .hm-overlay {
        border-top-right-radius: 0 !important;
    }

@media (max-width: 991px) {
    .home-section-features .first-row-card {
        padding-bottom: 2rem;
    }
}


.home-section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #232323;
}

    .home-section-footer .hm-section-subtitle {
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
        color: #cccccc;
    }

    .home-section-footer .first-column .hm-text {
        margin: 0;
    }

    .home-section-footer .icons-wrapper ul {
        margin: 0;
        padding: 0;
    }

        .home-section-footer .icons-wrapper ul li {
            margin-right: 1.25rem;
            display: inline-block;
        }

            .home-section-footer .icons-wrapper ul li .hm-iconfont {
                color: #ffffff;
                font-size: 1.5rem;
            }

                .home-section-footer .icons-wrapper ul li .hm-iconfont:hover {
                    color: #878787;
                }

    .home-section-footer .form1 .hm-form {
        display: inline-flex;
        width: 100%;
    }

        .home-section-footer .form1 .hm-form .input-wrap {
            width: 55%;
        }

            .home-section-footer .form1 .hm-form .input-wrap input {
                font-size: .9rem;
                height: 100%;
                border: none;
                width: 100%;
                padding: .3rem .5rem;
                background: #000000;
                color: #d8d7d7;
            }

                .home-section-footer .form1 .hm-form .input-wrap input::-webkit-input-placeholder {
                    color: #d8d7d7;
                }

                .home-section-footer .form1 .hm-form .input-wrap input::-moz-placeholder {
                    color: #d8d7d7;
                }

                .home-section-footer .form1 .hm-form .input-wrap input:-moz-placeholder {
                    color: #d8d7d7;
                }

                .home-section-footer .form1 .hm-form .input-wrap input:-ms-input-placeholder {
                    color: #d8d7d7;
                }

        .home-section-footer .form1 .hm-form .input-group-btn .btn-lg {
            padding: 1rem 2.2rem;
            margin: 0 !important;
        }

@media (max-width: 991px) {
    .home-section-footer .first-column,
    .home-section-footer .second-column {
        padding-bottom: 2rem;
    }

    .home-section-footer .form1 .hm-form {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .home-section-footer .first-column,
    .home-section-footer .second-column,
    .home-section-footer .third-column {
        text-align: center;
    }

    .home-section-footer .form1 .hm-form {
        justify-content: center;
    }

        .home-section-footer .form1 .hm-form .input-group-btn .btn-lg {
            padding: .6rem 1rem !important;
        }
}


.apartments-cards {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #efefef;
}

    .apartments-cards .card .card-img {
        overflow: hidden;
        border-radius: 0;
    }

        .apartments-cards .card .card-img img {
            transition: all .5s;
        }

        .apartments-cards .card .card-img:hover img {
            transform: scale3d(1.2, 1.2, 1.2);
        }


        .apartments-cards .card .card-img .submit-img {
            height: 337px;
            width: 337px;
            transition: all .5s;
        }

        .apartments-cards .card .card-img:hover .submit-img {
            transform: scale3d(1.2, 1.2, 1.2);
        }

    .apartments-cards .media-container-column {
        justify-content: flex-start;
        padding: 0;
    }

    .apartments-cards .underline .line {
        width: 2rem;
        height: 1px;
        background: #878787;
        display: inline-block;
    }

    .apartments-cards .first-card .card-wrapper {
        height: 100%;
    }

    .apartments-cards .first-card .card-box {
        background: #ffffff;
        padding: 2rem;
    }

    .apartments-cards .first-card .info-wrapper {
        display: inline-flex;
        align-items: center;
    }

        .apartments-cards .first-card .info-wrapper .hm-iconfont {
            padding-right: .5rem;
            font-size: 20px;
        }

        .apartments-cards .first-card .info-wrapper .info-text {
            display: inline-block;
            padding-right: 1rem;
            margin: 0;
        }

    .apartments-cards .first-card .card-btn .btn {
        margin-left: 4px !important;
        margin-right: 4px !important;
    }

    .apartments-cards .first-row,
    .apartments-cards .second-row {
        height: 50%;
        margin: 0;
    }

        .apartments-cards .first-row .card .card-wrapper,
        .apartments-cards .second-row .card .card-wrapper {
            height: 100%;
            overflow: hidden;
            position: relative;
        }

            .apartments-cards .first-row .card .card-wrapper .card-img,
            .apartments-cards .second-row .card .card-wrapper .card-img {
                height: 100%;
            }

                .apartments-cards .first-row .card .card-wrapper .card-img img,
                .apartments-cards .second-row .card .card-wrapper .card-img img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }

        .apartments-cards .first-row .caption,
        .apartments-cards .second-row .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            letter-spacing: 2px;
        }

.caption .price,
.caption .price {
    background: #d28b55;
    padding: 0.3rem;
}

.apartments-cards .first-row {
    padding: 1rem;
}

.apartments-cards .second-row {
    padding: 1rem;
}

@media (max-width: 767px) {
    .apartments-cards .first-card,
    .apartments-cards .first-child {
        padding-bottom: 2rem;
    }
}

@media (max-width: 991px) {
    .apartments-cards .first-card {
        padding-bottom: 2rem;
    }

    .apartments-cards .only-first-row {
        height: 100%;
    }
}
